@import "scss/config/variables";
@import "scss/config/mixins";


@mixin slide-radius {
    border-radius: 20px;
    overflow: hidden;
}

.swiper-button {
    position: relative;
    transition: $transition;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    &:not(.disabled) {
        @include pointer;
    }

    &.disabled {
        opacity: .5;
    }

    &.button-next:after {
        transform: rotate(180deg);
    }
}


.catalog-slider_wrapper .swiper-control {
    align-items: center;
    gap: 0;

    .swiper-button {
        width: 5rem;
        height: 5rem;

        @media screen {
            @media (max-width: 1199px) {
                width: 3rem;
                height: 3rem;
            }

        }

        &:after {
            background-image: url(/src/media/icon/arrow-prev.svg);
            background-position: center;
            background-repeat: no-repeat;

            @media screen {
                @media (max-width: 1199px) {
                    background-size: 60%;
                }

            }
        }
    }
}

.catalog-slider_wrapper {
    position: relative;

    .swiper-control {
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-bottom: 10px;

        @media screen {
            @media (max-width: 767px) {
                position: relative;
                right: auto;
                bottom: auto;
                margin-bottom: 0;
                margin-top: 20px;
                justify-content: center;
            }

        }
    }

}

.catalog-slider_container {
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .swiper-slide {
        width: 25vw;

        @media screen {
            @media (max-width: 1199px) {
                width: 43.5vw;
            }

            @media (max-width: 767px) {
                width: 85vw;
            }
        }
    }

    .catalog-slide {
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.10);
        background: $color-second;
        @include slide-radius;

        @media screen {
            @media (max-width: 767px) {}

            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.10);

        }

        >.catalog-slide_img {
            @include slide-radius;
            height: 33vw;
            position: relative;

            @media screen {
                @media (max-width: 1199px) {
                    height: 58vw;
                }

                @media (max-width: 767px) {
                    height: 110vw;
                }
            }

            >img {
                width: 100%;
                // height: 100%;
                object-fit: cover;
                object-position: center;

                &.swiper-lazy-loaded {
                    height: 100%;
                }
            }

            .btn-zoom {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                overflow: hidden;
                z-index: 1;
                bottom: 20px;
                right: 20px;

                @media screen {
                    @media (max-width: 1199px) {
                        width: 30px;
                        height: 30px;
                        right: 10px;
                        bottom: 10px;
                    }

                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $color-third;
                    opacity: .8;
                    transition: opacity .2s ease;
                    will-change: transition;
                }

                &:hover:before {
                    opacity: 1;
                }

                >img {
                    width: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;

                    @media screen {
                        @media (max-width: 1199px) {
                            width: 50%;
                        }

                    }
                }
            }
        }

        .catalog-slide_descript {
            padding: 30px;

            // gap: 20px;
            @media screen {
                @media (max-width: 1199px) {
                    padding: 20px;
                }

                @media (max-width: 767px) {
                    padding: 15px;
                }
            }
        }

    }
}

.catalog-slide_descript--top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: $font-secondary;
    gap: 10px;

    @media screen {
        @media (max-width: 767px) {
            @include flex-column;
        }
    }

    .slide-title {
        flex: 1;
        letter-spacing: 0.8px;
        font-size: 1.5em;
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .slide-more-photo {
        @include btn-dark;
        border-radius: 50px;
        font-weight: $font-bold;
        padding: 5px 20px;
        border: 1px solid #ffffff;
        transition: $transition;
        font-size: .8rem;

        &:hover {
            color: $color-second;
            background: $color-main;
        }
    }
}

.catalog-slide_descript--bottom {
    margin-top: 20px;
    font-size: .8rem;
    letter-spacing: 0.4px;
    line-height: 175%;

    @media screen {
        @media (max-width: 767px) {
            margin-top: 15px;
            font-size: .75rem;
        }

    }
}

/* Start Reviews Slider */
.reviews h2 {
    @include text-center;
}

.reviews-wrapper {
    width: 83%;
    // min-width: 1428px;
    margin: 0 auto;
    position: relative;
    z-index: 0;

    @media screen {
        @media (max-width: 1400px) {
            width: 100%;
        }
    }

    &:before,
    &:after {
        position: absolute;
        z-index: -1;
        line-height: normal;
        content: '“';
        font-weight: $font-bold;
        font-size: 12rem;
        color: rgba($color-main, .1);
    }

    &:before {
        top: -30px;
        left: 0;

        @media screen {
            @media (max-width: 1199px) {
                content: none;
            }

        }
    }

    &:after {
        transform: rotate(180deg);
        bottom: -30px;
        right: 0;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 8rem;
                bottom: -20px;
            }

            @media (max-width: 767px) {
                content: none;
            }
        }
    }

    >.reviews-back {
        width: 60%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: rgba($color-main, .08);
        filter: blur(150px);

        @media screen {
            @media (max-width: 1199px) {
                background: rgba($color-main, .15);
            }

        }

        // animation: review-anim 10s linear infinite;
    }

    .swiper-control {
        @media screen {
            @media (max-width: 1199px) {
                position: absolute;
                top: 15px;
                right: 0;
                z-index: 2;
            }

            @media (max-width: 767px) {
                position: relative;
                top: auto;
                right: auto;
                margin-top: 20px;
                justify-content: center;
            }
        }
    }

    .swiper-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid $color-main;
        background: $color-second;

        @media screen {
            @media (max-width: 1199px) {
                position: relative;
                top: auto;
                transform: none;
                border: none;
                left: auto !important;
                right: auto !important;
                width: 3rem;
                height: 3rem;
                background: transparent;
            }

        }

        &:not(.disabled):hover {
            box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.10);
        }

        &.button-prev {
            left: 0;
        }

        &.button-next {
            right: 0;
        }

        &:after {
            @include bg-style;
            background-image: url(/src/media/icon/arrow-ellipse-prev.svg);
            background-size: auto;
        }
    }
}

// @keyframes review-anim {
//     0% {
//         opacity: 1;
//     }

//     50% {
//         opacity: 0;
//     }

//     100% {
//         opacity: 1;
//     }
// }


.reviews-slider-container {
    width: 60%;
    // min-width: 844px;
    margin: 0 auto;

    @media screen {
        @media (max-width: 1199px) {
            width: 100%;
        }

        @media (max-width: 767px) {
            margin: -15px;
            padding: 15px;
            width: auto;
        }
    }
}

.swiper-slide {
    @media screen {
        @media (max-width: 767px) {
            width: 85vw;
        }

    }
}

.review-slide {
    @include flex-column;
    gap: 1rem;
    box-sizing: border-box;

    @media screen {
        @media (max-width: 767px) {
            background: $color-second;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.1);
            padding: 15px;
        }

    }

    .review-author {
        gap: 30px;
        align-items: center;

        @media screen {
            @media (max-width: 1199px) {
                flex-wrap: nowrap;
                max-width: 80%;
                gap: 20px;
            }

            @media (max-width: 767px) {
                max-width: 100%;
                // gap: 15px;
            }
        }

        .author-avatar {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;

            @media screen {
                @media (max-width: 767px) {
                    width: 4rem;
                    height: 4rem;
                }

            }
        }

        .author-name {
            font-family: $font-secondary;
            letter-spacing: 0.6px;
            font-size: 1.5rem;

            @media screen {
                @media (max-width: 1199px) {
                    font-size: 1.2rem;
                    flex: 1;
                }

                @media (max-width: 767px) {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .review-text {
        @include flex-column;
        gap: 10px;
        line-height: 175%;
        font-size: 1rem;

        @media screen {
            @media (max-width: 1199px) {
                font-size: .9rem;
            }
        }
    }

    .review-photos {
        margin-top: 10px;
        gap: 15px;
        // align-items: center;

        .lightgallery-item {
            width: 6rem;
            height: 6rem;
            overflow: hidden;
            border-radius: 20px;
            @include pointer;

            @media screen {
                @media (max-width: 1199px) {
                    width: 100px;
                    height: 100px;
                }

                @media (max-width: 767px) {
                    width: 70px;
                    height: 70px;
                    border-radius: 15px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .lightgallery_btn {
            align-items: center;
            justify-content: center;
            @include text-center;
            border-radius: 20px;
            overflow: hidden;
            background: $color-main;
            color: $color-second;
            font-family: $font-secondary;
            font-size: 1rem;
            width: 6rem;
            height: 6rem;
            line-height: normal;
            padding: 10px;

            @media screen {
                @media (max-width: 1199px) {
                    width: 100px;
                    height: 100px;
                }

                @media (max-width: 767px) {
                    width: 70px;
                    height: 70px;
                    font-size: .9rem;
                    border-radius: 15px;
                }
            }

            // font-weight: $font-bold;
        }
    }

}

/* End Reviews Slider */